.main {
  margin: 13rem 11rem;
  border: 0.1rem;
  margin-top: 13rem;
  
}
.main2{
  display: flex;
  justify-content: space-around;
}
.main3 {
  color: antiquewhite;
}
.btn {
  display: flex;
  margin: auto;
}
.talk {
  width: 10rem;
  height: 3rem;
  background-color: rgb(40, 150, 76);
  border-radius: 0.61rem;
  margin-left: 4rem;
}
.talk:hover {
  background-color: rgb(16, 133, 16);
}
.image{
  margin-top: -5rem;
  width: 10rem;
}
