.input1 {
  width: 15rem;
  
  align-items: center;
}
.input{
    display: flex;
    flex-direction: row;
    width: 30rem;
    height: 10rem;
}
.Contact{
  margin: 0.1rem;
  display: flex;
    height: 30rem;
    justify-content: center;
    width: 100%;
}
/* .Button{
 
} */
.inputbox{
  display: flex;
  margin-top: 5rem;
}
