.section {
  display: flex;
  margin: 0.1rem;
  flex-direction:column;
  align-items: center;
  color: antiquewhite;
}
.skill{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
  text-align: center;
  width: 25rem;
}
.list {
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19rem;
  height: 15rem;
  border-radius: 1rem;
  color: antiquewhite;
}
.list2{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 19rem;
}

.head{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: antiquewhite;
}
.talk {
  margin-top: 4rem;
  display: flex;
  width: 10rem;
  height: 3rem;
  background-color: rgb(40, 150, 76);
  border-radius: 0.61rem;
  padding: 1rem 1rem;
}
.talk:hover {
  background-color: rgb(16, 133, 16);
}
.para{
  display: flex;
  flex-direction: column;
  width: fit-content;
}